In [1]:
%autosave 10000
# %matplotlib inline

import os
import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt

# plt.style.use('seaborn-colorblind')
# sns.palplot(sns.color_palette("GnBu_d"))

pd.options.display.max_rows = 20

Autosaving every 10000 seconds

In [2]:
train_data = pd.read_csv(r'../../../data/sme/thesis/train_data.csv', encoding='utf-8')
test_data = pd.read_csv(r'../../../data/sme/thesis/test_data.csv', encoding='utf-8')
test_data_385 = pd.read_pickle(path=r'../../../data/sme/thesis/test_data_385_articles.bz2', compression='bz2')

In [3]:
edit_type_columns = {'a': 'edit_type_a', 
                     'b': 'edit_type_b', 
                     'c': 'edit_type_c', 
                     'd': 'edit_type_d', 
                     'e': 'edit_type_e', 
                     'f': 'edit_type_f', 
                     'g': 'edit_type_g', 
                     'h': 'edit_type_h', 
                     'i': 'edit_type_i', 
                     'j': 'edit_type_j', 
                     'k': 'edit_type_k', 
                     'l': 'edit_type_l', 
                     'm': 'edit_type_m'}

In [4]:
revisions = pd.read_csv(r'../../../data/sme/revisions.csv')
revisions.set_index(keys='revision_id', inplace=True)
print(revisions.shape)
revisions.head()

(1005680, 5)

             page_id  user_id      user_name  size            timestamp
revision_id
333556305        771      113  EdwardOConnor  5337  2001-10-16 19:23:09
333556306        771        0  24.38.114.xxx  5342  2001-11-21 01:47:01
333556307        771  2072317    Greg Carter  5356  2001-11-21 02:06:56
333556308        771        0   24.93.53.xxx  5694  2001-11-21 02:16:30
333556309        771      463            Eob  7149  2001-11-22 00:10:57

In [5]:
edit_types_2012 = pd.read_hdf(r'../../../data/sme/edit_types_2012.h5')
edit_types_2012.rename(columns=edit_type_columns, inplace=True)
edit_types_2012.set_index(keys='revision_id', inplace=True)
print(edit_types_2012.shape)
edit_types_2012.head()

(721474, 13)

,edit_type_a,edit_type_b,edit_type_c,edit_type_d,edit_type_e,edit_type_f,edit_type_g,edit_type_h,edit_type_i,edit_type_j,edit_type_k,edit_type_l,edit_type_m
revision_id,,,,,,,,,,,,,
800,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
956,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
981,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1012,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2341,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
edit_types_2018 = pd.read_hdf(r'../../../data/sme/edit_types_2018.h5')
edit_types_2018.rename(columns=edit_type_columns, inplace=True)
edit_types_2018.set_index(keys='revision_id', inplace=True)
print(edit_types_2018.shape)
edit_types_2018.head()

(861879, 13)

,edit_type_a,edit_type_b,edit_type_c,edit_type_d,edit_type_e,edit_type_f,edit_type_g,edit_type_h,edit_type_i,edit_type_j,edit_type_k,edit_type_l,edit_type_m
revision_id,,,,,,,,,,,,,
673773933,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
465919718,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
441934447,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
79946440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
30882958,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [7]:
rev_edit_types_2012 = revisions.join(edit_types_2012, how='left')
print(rev_edit_types_2012.shape)
rev_edit_types_2012.head()

(1005680, 18)

,page_id,user_id,user_name,size,timestamp,edit_type_a,edit_type_b,edit_type_c,edit_type_d,edit_type_e,edit_type_f,edit_type_g,edit_type_h,edit_type_i,edit_type_j,edit_type_k,edit_type_l,edit_type_m
revision_id,,,,,,,,,,,,,,,,,,
333556305,771,113,EdwardOConnor,5337,2001-10-16 19:23:09,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556306,771,0,24.38.114.xxx,5342,2001-11-21 01:47:01,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556307,771,2072317,Greg Carter,5356,2001-11-21 02:06:56,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556308,771,0,24.93.53.xxx,5694,2001-11-21 02:16:30,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556309,771,463,Eob,7149,2001-11-22 00:10:57,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
rev_edit_types_2018 = revisions.join(edit_types_2018, how='left')
print(rev_edit_types_2018.shape)
rev_edit_types_2018.head()

(1005680, 18)

,page_id,user_id,user_name,size,timestamp,edit_type_a,edit_type_b,edit_type_c,edit_type_d,edit_type_e,edit_type_f,edit_type_g,edit_type_h,edit_type_i,edit_type_j,edit_type_k,edit_type_l,edit_type_m
revision_id,,,,,,,,,,,,,,,,,,
333556305,771,113,EdwardOConnor,5337,2001-10-16 19:23:09,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556306,771,0,24.38.114.xxx,5342,2001-11-21 01:47:01,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556307,771,2072317,Greg Carter,5356,2001-11-21 02:06:56,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556308,771,0,24.93.53.xxx,5694,2001-11-21 02:16:30,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556309,771,463,Eob,7149,2001-11-22 00:10:57,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
edit_type_cols = list(edit_type_columns.values())
rev_cols = rev_edit_types_2018.drop(columns=edit_type_columns.values()).columns.tolist()
print(rev_cols)
final_cols = [rev_edit_types_2018.index.name] + rev_cols + edit_type_cols
print(final_cols)

['page_id', 'user_id', 'user_name', 'size', 'timestamp']
['revision_id', 'page_id', 'user_id', 'user_name', 'size', 'timestamp', 'edit_type_a', 'edit_type_b', 'edit_type_c', 'edit_type_d', 'edit_type_e', 'edit_type_f', 'edit_type_g', 'edit_type_h', 'edit_type_i', 'edit_type_j', 'edit_type_k', 'edit_type_l', 'edit_type_m']

In [10]:
suffix_2018 = '_x'
suffix_2012 = '_y'
rev_edit_types = rev_edit_types_2018.join(rev_edit_types_2012[edit_type_cols], 
                                          how='left', 
                                          lsuffix=suffix_2018, 
                                          rsuffix=suffix_2012)
print(rev_edit_types.shape)
rev_edit_types.head()

(1005680, 31)

,page_id,user_id,user_name,size,timestamp,edit_type_a_x,edit_type_b_x,edit_type_c_x,edit_type_d_x,edit_type_e_x,...,edit_type_d_y,edit_type_e_y,edit_type_f_y,edit_type_g_y,edit_type_h_y,edit_type_i_y,edit_type_j_y,edit_type_k_y,edit_type_l_y,edit_type_m_y
revision_id,,,,,,,,,,,,,,,,,,,,,
333556305,771,113,EdwardOConnor,5337,2001-10-16 19:23:09,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556306,771,0,24.38.114.xxx,5342,2001-11-21 01:47:01,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556307,771,2072317,Greg Carter,5356,2001-11-21 02:06:56,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556308,771,0,24.93.53.xxx,5694,2001-11-21 02:16:30,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556309,771,463,Eob,7149,2001-11-22 00:10:57,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
for et_col in edit_type_cols:
    print('Processing: {}'.format(et_col))
    rev_edit_types[et_col] = rev_edit_types.apply(lambda row: row[et_col+suffix_2012] 
                                                  if pd.isnull(row[et_col+suffix_2018]) 
                                                  else row[et_col+suffix_2018], axis=1)

Processing: edit_type_a
Processing: edit_type_b
Processing: edit_type_c
Processing: edit_type_d
Processing: edit_type_e
Processing: edit_type_f
Processing: edit_type_g
Processing: edit_type_h
Processing: edit_type_i
Processing: edit_type_j
Processing: edit_type_k
Processing: edit_type_l
Processing: edit_type_m

In [12]:
drop_list_2018 = [et_col + suffix_2018 for et_col in edit_type_cols]
drop_list_2012 = [et_col + suffix_2012 for et_col in edit_type_cols]
rev_edit_types.drop(columns=drop_list_2018 + drop_list_2012, inplace=True)
rev_edit_types.head()

,page_id,user_id,user_name,size,timestamp,edit_type_a,edit_type_b,edit_type_c,edit_type_d,edit_type_e,edit_type_f,edit_type_g,edit_type_h,edit_type_i,edit_type_j,edit_type_k,edit_type_l,edit_type_m
revision_id,,,,,,,,,,,,,,,,,,
333556305,771,113,EdwardOConnor,5337,2001-10-16 19:23:09,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556306,771,0,24.38.114.xxx,5342,2001-11-21 01:47:01,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556307,771,2072317,Greg Carter,5356,2001-11-21 02:06:56,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556308,771,0,24.93.53.xxx,5694,2001-11-21 02:16:30,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333556309,771,463,Eob,7149,2001-11-22 00:10:57,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
rev_edit_types_2012.reset_index(inplace=True)
rev_edit_types_2012.head()

,revision_id,page_id,user_id,user_name,size,timestamp,edit_type_a,edit_type_b,edit_type_c,edit_type_d,edit_type_e,edit_type_f,edit_type_g,edit_type_h,edit_type_i,edit_type_j,edit_type_k,edit_type_l,edit_type_m
0,333556305,771,113,EdwardOConnor,5337,2001-10-16 19:23:09,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,333556306,771,0,24.38.114.xxx,5342,2001-11-21 01:47:01,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,333556307,771,2072317,Greg Carter,5356,2001-11-21 02:06:56,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,333556308,771,0,24.93.53.xxx,5694,2001-11-21 02:16:30,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,333556309,771,463,Eob,7149,2001-11-22 00:10:57,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
rev_edit_types_2018.reset_index(inplace=True)
rev_edit_types_2018.head()

,revision_id,page_id,user_id,user_name,size,timestamp,edit_type_a,edit_type_b,edit_type_c,edit_type_d,edit_type_e,edit_type_f,edit_type_g,edit_type_h,edit_type_i,edit_type_j,edit_type_k,edit_type_l,edit_type_m
0,333556305,771,113,EdwardOConnor,5337,2001-10-16 19:23:09,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,333556306,771,0,24.38.114.xxx,5342,2001-11-21 01:47:01,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,333556307,771,2072317,Greg Carter,5356,2001-11-21 02:06:56,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,333556308,771,0,24.93.53.xxx,5694,2001-11-21 02:16:30,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,333556309,771,463,Eob,7149,2001-11-22 00:10:57,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
rev_edit_types_2012.to_csv(r'../../../data/sme/thesis/revisions_with_edit_types_2012.csv', index=False)

In [16]:
rev_edit_types_2018.to_csv(r'../../../data/sme/thesis/revisions_with_edit_types_2018.csv', index=False)

In [18]:
rev_edit_types.to_csv(r'../../../data/sme/thesis/revisions_with_edit_types_final.csv', index=False)

In [19]:
print(len(rev_edit_types_2012[rev_edit_types_2012.edit_type_a.isnull()])/len(rev_edit_types_2012)*100)
print(len(rev_edit_types_2018[rev_edit_types_2018.edit_type_a.isnull()])/len(rev_edit_types_2018)*100)
print(len(rev_edit_types[rev_edit_types.edit_type_a.isnull()])/len(rev_edit_types)*100)

28.682185188131413
14.674548564155595
5.409474186619998

### Final steps

In [61]:
df = pd.read_csv(r'D:\data\sme\thesis\revisions_with_edit_types_final.csv')

In [ ]:
# user_edits_df = pd.read_csv(r'D:\data\sme\user_edits.csv')

In [ ]:
# user_edits_df.sort_values(by='total_edits', ascending=False).head()

In [ ]:
# user_edits_map = {}
# for i, row in user_edits_df.iterrows():
#     user_name = row['user_name']
#     total_edits = float(row['total_edits'])
#     user_edits_map[user_name] = total_edits

In [62]:
counter = 0
data = []
for (page_id, user_name), group in df.groupby(by=['page_id', 'user_name']):
#     total_edits = user_edits_map[user_name]
    
    row = [page_id, user_name] + [np.sum(group[et_col])/len(group) for et_col in edit_type_cols]
    data.append(row)

    if counter % 50000 == 0 and counter > 0:
        print(counter)
    counter += 1
    
user_edit_types_df = pd.DataFrame(data=data, columns=['page_id', 'user_name'] + edit_type_cols)
user_edit_types_df.rename(columns={'user_name': 'user'}, inplace=True)

50000
100000
150000
200000
250000
300000
350000
400000
450000

In [65]:
train_data_no_et = train_data.drop(columns=edit_type_cols)
test_data_no_et = test_data.drop(columns=edit_type_cols)
test_data_385_no_et = test_data_385.drop(columns=edit_type_cols)

print(train_data_no_et.shape)
print(test_data_no_et.shape)
print(test_data_385_no_et.shape)

(1020, 46)
(30839, 46)
(41856, 46)

In [68]:
new_train_data = train_data_no_et.merge(user_edit_types_df, how='left', on=['page_id', 'user'])
print(new_train_data.shape)

(1020, 59)

In [69]:
new_test_data = test_data_no_et.merge(user_edit_types_df, how='left', on=['page_id', 'user'])
print(new_test_data.shape)

(30839, 59)

In [70]:
new_test_385_data = test_data_385_no_et.merge(user_edit_types_df, how='left', on=['page_id', 'user'])
print(new_test_385_data.shape)

(41856, 59)

In [71]:
new_train_data.to_csv(r'D:\data\sme\thesis\new_train_data.csv', index=False)
new_test_data.to_csv(r'D:\data\sme\thesis\new_test_data.csv', index=False)
new_test_385_data.to_csv(r'D:\data\sme\thesis\new_test_385_data.csv', index=False)